<div class="">
  <div class="container-fluid" *ngIf = "specialEvents">
    <div class="row text-center"> <!--Start of 1st row-->
      <div class="col-md-8">
          <img src="{{specialEvents.url}}">
      </div>
  
      
      <div class="col-md-4 heading">
        <h1>{{specialEvents.eventName}}</h1>
        <div class="heading-underline"></div>
        <h3>{{specialEvents.date}}</h3>
        <h3>{{specialEvents.eventAddress}}</h3>      
        <h3>Registration Fee {{specialEvents.price}} ৳</h3>      
        <h3>Remaining Ticket {{specialEvents.ticketVacancy}}</h3>      
      </div>
    </div> <!--End of 1st row section-->
  
    <div class="section-two">
    <div class="row text-center about"> <!--Start of 2nd row-->
      <div class="col-md-6">
        <h1>About</h1>
        <div class="heading-underline"></div>
        <p class="lead justify-content">{{specialEvents.eventDescription}}</p>
      </div>
  
      <div class="col-md-6">
        <h1>Sub Events</h1>
        <div class="heading-underline"></div>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th>Event Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Vacancy</th>
                <th>select..</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subEvent of specialEvents.subEvents">
                <td>{{subEvent.name}}</td>
                <td>{{subEvent.startTime}}</td>
                <td>{{subEvent.endTime}}</td>
                <td>{{subEvent.vacancy}}</td>
                <td> <input [disabled]="isCouponAvailable" type="checkbox"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="subEvent.selected"/></td>
  
              </tr>
            </tbody>
          </table>
          <div>
            <small *ngIf="error"  class="text-danger">Time conflict, Please check another</small>
          </div>
  
          <div *ngIf="isVacant">
              <button *ngIf="token.loggedIn()" [disabled]="true"   class="btn btn-success float-right" type="button">Sold Out</button>
          </div>
  
          <div *ngIf="!isVacant">          
            <button *ngIf="token.loggedIn()"  class="btn btn-success float-right" type="button" (click)="getSelectedCategories()">Get Ticket</button>
          </div>      

          <div *ngIf="!token.loggedIn()">          
            <button routerLink="/login" class="btn btn-success float-right" type="button">Login To Get Ticket</button>
          </div>      

          
      </div> <!--End of table-->
    </div> <!--End of second row section-->
    </div>
  
    <div class="jumbotron">
      <div class="col-12 text-center">
        <h2>Organized By {{specialEvents.organizerName}}</h2>
        <div class="heading-underline"></div>        
        <p>{{specialEvents.organizerDetails}}</p>
      </div>  
    </div>
    
  </div><!--End of container-->
  </div>