

<div class="example-container mat-elevation-z8">

  <mat-card class="example-card">  <!--mat card start-->

    <mat-card-title>Add Admin</mat-card-title>

          <mat-card-content>
            <form class="example-form">
              <table class="example-full-width" cellspacing="0">
       
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" [(ngModel)]="user1.username" name="username" required>
                    </mat-form-field>
                  </td>
                </tr>

                <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                      <input matInput placeholder="name" [(ngModel)]="user1.name" name="name" required>
                      </mat-form-field>
                    </td>
                  </tr>
         
                <tr>
                <td><mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" [(ngModel)]="user1.password"type="password" name="password" required>
                </mat-form-field></td>
              </tr>

              <tr>
                  <td><mat-form-field class="example-full-width">
                    <input matInput placeholder="email" [(ngModel)]="user1.email"type="email" name="email" required>
                  </mat-form-field></td>
                </tr>
              </table>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="register()" color="primary">Add Admin</button>
          </mat-card-actions>

        </mat-card>  <!--mat card end-->
    
  <div class="example-header" class=" col-md-4">
    

      <mat-card-title>User List</mat-card-title>
      <div class="heading-underline"></div>
       <mat-form-field>
         <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..">
       </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource" matSort>

  
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> User ID </mat-header-cell>
            <mat-cell *matCellDef="let item">
              {{item.id}}
            </mat-cell>
          </ng-container>
  
      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
         <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
         <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="#">
        <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
        <mat-cell *matCellDef="let item">
            <button mat-raised-button color="warn" (click)="confirmDelete(item)">Delete</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "rowClicked(row)" ></mat-row>
    </mat-table>
  
    <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]">
    </mat-paginator>
  </div>
