@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* font-family: 'Lato', sans-serif; */


.heading-underline {
    width: 6rem;
    height: .2rem;
    background-color: #12A434;
    margin: 1rem auto 1rem;
}